.iconContainer {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .iconButton {
    display: flex;
  }
  
  .watchIcon {
    transition: transform 0.3s ease; 
  }
  
  .iconContainer:hover .watchIcon {
    transform: scale(1.2);
  }
  
  .typography {
    transition: transform 0.3s ease;
  }
  
  .typography:hover ~ .iconContainer .watchIcon {
    transform: scale(1.2);
  }
  